.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: green;
  min-height: 100vh;
  padding-top: 50px;
  padding: 70px 100px;
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding: 70px 20px;
  }
}